# SMS Spam  / Natural Language Processing
## (Self-Guided Project)

## by Justin Sierchio

In this project, we will be looking at using SMS spam to learn about natural language processing.

This data is in .csv file format and is from Kaggle at: https://www.kaggle.com/ravichaubey1506/natural-language-processing-with-python. More information related to the dataset can be found at the same link.

Note: this is a self-guided project following the tutorial provided by Ravi Chaubey at Kaggle (Birla Institue of Technology).

## Notebook Initialization

In [1]:
# Import Relevant Libraries
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import re

print('Initial libraries loaded into workspace!')

Initial libraries loaded into workspace!

In [2]:
# Upload Datasets for Study
messages = pd.read_csv('spam.csv',encoding='latin1')

print('Dataset loaded into workspace!')

Dataset loaded into workspace!

In [3]:
# Find the columns 'label' and 'message' and display the 1st 5 rows of the dataset
messages = messages.iloc[:,[0,1]]
messages.columns = ["label", "message"]
messages.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

## Exploratory Data Analysis

To begin, let's look at some of the basic level statistics for this dataset.

In [4]:
# Display basic level statistics in the Spam dataset
messages.describe()

       label                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In order to begin separating the messages into those that are relevant (ham) and those that are junk (spam), we can group the messages by label.

In [5]:
# Display messages by type of label
messages.groupby('label').describe()

      message
        count unique                                                top freq
label
ham      4825   4516                             Sorry, I'll call later   30
spam      747    653  Please call our customer service representativ...    4

Now we will create a new column to measure how long the text messages are.

In [6]:
# Create a new text message length column for the Spam dataset
messages['length'] = messages['message'].apply(len)
messages.head()

  label                                            message  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61