# Global Firepower Analysis

## by Justin Sierchio

In this analysis, we will be global firepower comparisons and trying to determine any trends:

This data is in .csv file format and is from Kaggle at: https://www.kaggle.com/mrtd1000/global-firepower-comparison-2021/download. More information related to the dataset can be found at: https://www.kaggle.com/mrtd1000/global-firepower-comparison-2021.

## Notebook Initialization

In [1]:
# Import Relevant Libraries
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import datetime

print('Initial libraries loaded into workspace!')

Initial libraries loaded into workspace!

In [2]:
# Upload Datasets for Study
df_FIREPOWER = pd.read_csv("GLOBAL_FIREPOWER_2021.csv");

print('Datasets uploaded!');

Datasets uploaded!

In [3]:
# Display 1st 5 rows from dataset
df_FIREPOWER.head()

,Country,ISO3,PowerIndex,TotalPopulation,Available Military Manpower,Fit for service,Reaching Military Age Anually,Active Service,Active Reserves,Paramilitary Force,...,Merchant Marine Fleet Strength,Railway Cowerage km,Roadway Coverage km,Oil Production bbl,Oil Consumption bbl,Proven Oil reserves bbl,Square Land Arena km,Coastline Coverage km,Border Coverage km,Waterway Coverage km
0,United States,USA,0.0718,332639102,146361205,121479800,4251793,1400000,845500,0,...,3673,224792,6586610,11000000,20000000,35000000000,9826675,19924,12048,41009
1,Russia,RUS,0.0791,141722205,69443880,46527400,1302767,1014000,2000000,555000,...,2739,87157,982000,10760000,3225000,80000000000,17098242,37653,22408,102000
2,China,CHN,0.0854,1394015977,752768628,617270275,19752649,2185000,510000,660000,...,5594,86000,3860800,3775000,13500000,25630000000,9596961,14500,22457,110000
3,India,IND,0.1207,1326093247,623263826,492378423,23141786,1445000,1155000,2527000,...,1731,63974,3320410,710000,5000000,4495000000,3287263,7000,13888,14500
4,Japan,JPN,0.1599,125507472,53968213,43714252,1180285,250000,55000,14000,...,5017,27182,1210251,3200,4000000,44120000,377915,29751,0,1770

In [4]:
# Display what all the columns are from the dataset
df_FIREPOWER.columns

Index(['Country', 'ISO3', 'PowerIndex', 'TotalPopulation',
       'Available Military Manpower', 'Fit for service',
       'Reaching Military Age Anually', 'Active Service', 'Active Reserves',
       'Paramilitary Force', 'Aircraft Fleet Strength',
       'Fighters Interceptors Strength', 'Attack Aircraft Strength',
       'Fixed-wing Strength', 'Trainer Aircraft Strength',
       'Special-mission Aircraft Strength', 'Tanker Fleet Aircraft Strength',
       'Total Helicopter  Fleet Strength', 'Attack Helicopter Fleet Strength',
       'Total Combat Tank Strength', 'Armored Vehicle Strength',
       'Self-Propelled Artillery Strength', 'Rocket Projector Strength',
       'Naval Fleet Strength', 'Aircraft Carrier Fleet Strength',
       'Helicopter Carriers Fleet Strength', 'Submarine Fleet Strength',
       'Destroyers Fleet Strength', 'Frigates Fleet Strength',
       'Corvettes Fleet Strength', 'Offshore Patrol Vessel Fleet Strength',
       'Mine Warfare Fleet Strength', 'Annual Defense Spending Budget',
       'External Debt', 'Purchasing Power Parity',
       'Reserves Of Foreign Exchange And Gold', 'Serviceable Airports',
       'Labor Force Strength', 'Trade Terminals And Ports',
       'Merchant Marine Fleet Strength', 'Railway Cowerage km',
       'Roadway Coverage km', 'Oil Production bbl', 'Oil Consumption bbl',
       'Proven Oil reserves bbl', 'Square Land Arena km',
       'Coastline Coverage km', 'Border Coverage km', 'Waterway Coverage km'],
      dtype='object')

As we can see, the columns discuss a number of different military strengths from land, sea, air, economics and resources available.

## Data Cleaning

Let's begin by seeing if the data needs to be cleaned.

In [5]:
# Check the quality of the initial dataset
df_FIREPOWER.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 49 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Country                                140 non-null    object
 1   ISO3                                   140 non-null    object
 2   PowerIndex                             140 non-null    float64
 3   TotalPopulation                        140 non-null    int64
 4   Available Military Manpower            140 non-null    int64
 5   Fit for service                        140 non-null    int64
 6   Reaching Military Age Anually          140 non-null    int64
 7   Active Service                         140 non-null    int64
 8   Active Reserves                        140 non-null    int64
 9   Paramilitary Force                     140 non-null    int64
 10  Aircraft Fleet Strength                140 non-null    int64
 11  Fighters Interceptors Strength         140 non-null    int64
 12  Attack Aircraft Strength               140 non-null    int64
 13  Fixed-wing Strength                    140 non-null    int64
 14  Trainer Aircraft Strength              140 non-null    int64
 15  Special-mission Aircraft Strength      140 non-null    int64
 16  Tanker Fleet Aircraft Strength         140 non-null    int64
 17  Total Helicopter  Fleet Strength       140 non-null    int64
 18  Attack Helicopter Fleet Strength       140 non-null    int64
 19  Total Combat Tank Strength             140 non-null    int64
 20  Armored Vehicle Strength               140 non-null    int64
 21  Self-Propelled Artillery Strength      140 non-null    int64
 22  Rocket Projector Strength              140 non-null    int64
 23  Naval Fleet Strength                   140 non-null    int64
 24  Aircraft Carrier Fleet Strength        140 non-null    int64
 25  Helicopter Carriers Fleet Strength     140 non-null    int64
 26  Submarine Fleet Strength               140 non-null    int64
 27  Destroyers Fleet Strength              140 non-null    int64
 28  Frigates Fleet Strength                140 non-null    int64
 29  Corvettes Fleet Strength               140 non-null    int64
 30  Offshore Patrol Vessel Fleet Strength  140 non-null    int64
 31  Mine Warfare Fleet Strength            140 non-null    int64
 32  Annual Defense Spending Budget         140 non-null    int64
 33  External Debt                          140 non-null    int64
 34  Purchasing Power Parity                140 non-null    int64
 35  Reserves Of Foreign Exchange And Gold  140 non-null    int64
 36  Serviceable Airports                   140 non-null    int64
 37  Labor Force Strength                   140 non-null    int64
 38  Trade Terminals And Ports              140 non-null    int64
 39  Merchant Marine Fleet Strength         140 non-null    int64
 40  Railway Cowerage km                    140 non-null    int64
 41  Roadway Coverage km                    140 non-null    int64
 42  Oil Production bbl                     140 non-null    int64
 43  Oil Consumption bbl                    140 non-null    int64
 44  Proven Oil reserves bbl                140 non-null    int64
 45  Square Land Arena km                   140 non-null    int64
 46  Coastline Coverage km                  140 non-null    int64
 47  Border Coverage km                     140 non-null    int64
 48  Waterway Coverage km                   140 non-null    int64
dtypes: float64(1), int64(46), object(2)
memory usage: 53.7+ KB

We see that each column has defined values which makes this step a lot of easier.