# Internet Usage Analysis

## by Justin Sierchio

This Jupyter Notebook will be examining internet usage worldwide and its association with income and urban rate. 

This data is in .csv file format and is from Kaggle under a Public Domain License. It can be found at: https://www.kaggle.com/sansuthi/gapminder-internet/download. Additional related information can be found at: https://www.kaggle.com/sansuthi/gapminder-internet.

## Notebook Initialization

In [1]:
# Import Relevant Libraries
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

print('Initial libraries loaded into workspace!')

Initial libraries loaded into workspace!

In [2]:
# Upload Datasets for Study
df_INTERNET = pd.read_csv("internet_gapminder.csv");

print('Datasets uploaded!');

Datasets uploaded!

In [3]:
# Open Internet Data Usage dataset and display 1st 5 rows
df_INTERNET.head()

       country  incomeperperson internetuserate  urbanrate
0  Afghanistan              NaN     3.654121623      24.04
1      Albania      1914.996551     44.98994696      46.72
2      Algeria      2231.993335     12.50007331      65.22
3      Andorra     21943.339900              81      88.92
4       Angola      1381.004268     9.999953883      56.70

As one can see, we have columns for (1) country (2) income per person (3) internet use rate and (4) rate of urbanization.

# Data Cleaning

Let's begin looking at this dataset by making sure it is sufficiently cleaned.

In [4]:
# Check dataset for 'NaN' or 'null' values
df_INTERNET.isnull().sum()

country             0
incomeperperson    23
internetuserate    20
urbanrate          10
dtype: int64

We'll drop the countries with incomplete user data.

In [6]:
# Remove 'NULL' rows from SBA Loans Dataset
df_INTERNET2 = df_INTERNET.dropna()

# Confirm all 'NULL' rows and columns removed
df_INTERNET2.isnull().sum()

country            0
incomeperperson    0
internetuserate    0
urbanrate          0
dtype: int64

Now it appears that our data is sufficiently cleaned to conduct a further analysis.