# Jeopardy Analysis

## by Justin Sierchio

In this analysis, we will be looking at the game-show Jeopardy! Ideally, we would like to be able to answer the following questions:

<ul>
    <li>What topics are most likely covered?</li>
    <li>What is the most common answer on Jeopardy?</li>
    <li>What are some other conclusions we might able to draw from this analysis?</li>
</ul>

This data is in .csv file format and is from Kaggle at: https://www.kaggle.com/tunguz/200000-jeopardy-questions/download. More information related to the dataset can be found at: https://www.kaggle.com/tunguz/200000-jeopardy-questions.

## Notebook Initialization

In [1]:
# Import Relevant Libraries
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

print('Initial libraries loaded into workspace!')

Initial libraries loaded into workspace!

In [4]:
# Upload Datasets for Study
df_JEOPARDY = pd.read_csv("JEOPARDY_CSV.csv");

print('Datasets uploaded!');

Datasets uploaded!

In [5]:
# Display 1st 5 rows from Jeopardy dataset
df_JEOPARDY.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

As a final step, let's list how the dataset defines each of the terms (using the Kaggle definitions).

<ul>
    <li> Show Number:: the production number for that episode of Jeopardy!</li>
    <li> Air Date: the date the episode aired (YYYY-MM-DD).</li>
    <li> Round: the round of Jeopardy - Jeopardy, Double Jeopardy or Final Jeopardy.</li>
    <li> Category: the question category.</li>
    <li> Value: the $ for the question.</li>
    <li> Question: the actual Jeopardy question.</li>
    <li> Answer: the answer to the Jeopardy question.</li>
</li>