# NYC Bus Breakdown Analysis and Dashboard

## by Justin Sierchio

In this analysis, we will be looking at bus breakdowns in New York City as well as creating a dashboard. We would like to be able to gain insights from this data as well.

This data is in .csv and .json file format and is from Kaggle at: https://www.kaggle.com/new-york-city/ny-bus-breakdown-and-delays/download. More information related to the dataset can be found at: https://www.kaggle.com/new-york-city/ny-bus-breakdown-and-delays.

## Notebook Initialization

In [1]:
# Import Relevant Libraries
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

print('Initial libraries loaded into workspace!')

Initial libraries loaded into workspace!

In [2]:
# Upload Datasets for Study
df_NYCBus = pd.read_csv("bus-breakdown-and-delays.csv");
df_NYCBusMeta = pd.read_json('socrata_metadata.json', lines=True)

print('Datasets uploaded!');

Datasets uploaded!

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# Display 1st 5 rows from NYC Bus dataset
df_NYCBus.head()

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Schools_Serviced,Occurred_On,Created_On,Boro,...,How_Long_Delayed,Number_Of_Students_On_The_Bus,Has_Contractor_Notified_Schools,Has_Contractor_Notified_Parents,Have_You_Alerted_OPT,Informed_On,Incident_Number,Last_Updated_On,Breakdown_or_Running_Late,School_Age_or_PreK
0,2015-2016,1227538,Special Ed AM Run,2621,J711,Heavy Traffic,75003,2015-11-05T08:10:00.000,2015-11-05T08:12:00.000,New Jersey,...,NaN,11,Yes,No,Yes,2015-11-05T08:12:00.000,NaN,2015-11-05T08:12:14.000,Running Late,School-Age
1,2015-2016,1227539,Special Ed AM Run,1260,M351,Heavy Traffic,06716,2015-11-05T08:10:00.000,2015-11-05T08:12:00.000,Manhattan,...,20MNS,2,Yes,Yes,No,2015-11-05T08:12:00.000,NaN,2015-11-05T08:13:34.000,Running Late,School-Age
2,2015-2016,1227540,Pre-K/EI,418,3,Heavy Traffic,C445,2015-11-05T08:09:00.000,2015-11-05T08:13:00.000,Bronx,...,15MIN,8,Yes,Yes,Yes,2015-11-05T08:13:00.000,NaN,2015-11-05T08:13:22.000,Running Late,Pre-K
3,2015-2016,1227541,Special Ed AM Run,4522,M271,Heavy Traffic,02699,2015-11-05T08:12:00.000,2015-11-05T08:14:00.000,Manhattan,...,15 MIN,6,No,No,No,2015-11-05T08:14:00.000,NaN,2015-11-05T08:14:04.000,Running Late,School-Age
4,2015-2016,1227542,Special Ed AM Run,3124,M373,Heavy Traffic,02116,2015-11-05T08:13:00.000,2015-11-05T08:14:00.000,Manhattan,...,NaN,6,No,No,No,2015-11-05T08:14:00.000,NaN,2015-11-05T08:14:08.000,Running Late,School-Age

In [4]:
# Display 1st 5 rows from NYC Bus Meta dataset
df_NYCBusMeta.head()

,downloadCount,query,viewLastModified,displayType,category,rowsUpdatedAt,description,viewType,totalTimesRated,name,...,flags,provenance,rowsUpdatedBy,owner,viewCount,approvals,averageRating,publicationGroup,id,hideFromCatalog
0,5368,{},1556893261,table,Transportation,1575114040,The Bus Breakdown and Delay system collects in...,tabular,0,Bus Breakdown and Delays,...,"[default, restorable, restorePossibleForType]",official,5fuc-pqz2,{'profileImageUrlSmall': '/api/users/5fuc-pqz2...,10105,[{'submissionObject': 'public_audience_request...,0,4528409,ez4e-fazm,False