# UFO Sightings Analysis

## by Justin Sierchio

In this analysis, we will be looking at reports of Unidentified Flying Objects (UFOs) from the National UFO Reporting Center. Ideally, we would like to be able to answer the following questions:

<ul>
    <li>Which areas are more likely to have sightings?</li>
    <li>What times of the year are more likely for sightings to occur?</li>
    <li>Are there clusters around military bases or other government installations?</li>
</ul>

This data is in .csv file format and is from Kaggle at: https://www.kaggle.com/NUFORC/ufo-sightings/download. More information related to the dataset can be found at: https://www.kaggle.com/NUFORC/ufo-sightings?select=complete.csv.

## Notebook Initialization

In [1]:
# Import Relevant Libraries
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

print('Initial libraries loaded into workspace!')

Initial libraries loaded into workspace!

In [3]:
# Upload Datasets for Study
df_UFO = pd.read_csv("scrubbed.csv");

print('Datasets uploaded!');

Datasets uploaded!

C:\Users\jmsie\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
# Display 1st 5 rows from UFO Sightings dataset
df_UFO.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611